<h1> <%= @volunteer.name %>'s Page</h1>

<form class="" action="/volunteer/<%= @volunteer.id %>/edit" method="post">
  <label for="name">Change Name</label>
  <input type="text" name="name" value="">
  <button type="submit" name="button">Update Volunteer</button>
</form>

<form class="" action="/volunteer/<%= @volunteer.id %>/delete" method="post">
  <button type="submit" name="delete">Terminate Volunteer</button>
</form>

<a href="/">Go Home</a>
